/*Biblia*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* Modo Mobile */
.headText {
    font-size: 2.5rem;
    font-weight: bold;
}
.list-text {
    list-style-image: url("./../assets/images/icon-list.svg");
}
.lemail {
    font-weight: bold;
}
.c2{
    height: 400px;
}
.correo {
    border-radius: 8px;
    height: 4rem;
}
.correo-success{
    background-color: aliceblue;
}
.labelEmail{
    justify-content: space-between;
}
.boton {
    background-color: rgb(15, 15, 66);
    color: white;
    border-radius: 10px;
    height: 4rem;
}
.boton:focus,
.boton:hover{
    background: linear-gradient(
    90deg,
    rgba(255, 83, 123, 1) 0%,
    rgba(255, 105, 58, 1) 100%
  );
  color: white;
}
.hSuccess {
 font-size: 3rem;
 font-weight: bold;
}
.bSuccess {
    background-color: rgb(15, 15, 66);
    border-radius: 10px;
    height: 4rem;

}
.bSuccess:focus,
.bSuccess:hover{
    background: linear-gradient(
    90deg,
    rgba(255, 83, 123, 1) 0%,
    rgba(255, 105, 58, 1) 100%
  );
  color: white;
}
/* Estilos de invalidacion */
.error{
    font-size: .9rem;
    display: none;
}
.error-active{
    color: hsl(4, 100%, 67%);
    display: block;
}
.input-error{
    background-color: hsla(4, 100%, 67%, 0.338);
    border-color: hsla(4, 100%, 67%, 0.4);
    color: hsl(4, 100%, 67%);
}
/* Modo Desktop */
@media (min-width:769px) {
    .container-fluid{
        margin-top: 5rem !important;
        max-width: 900px !important;
        max-height: 600px !important;
        border-radius: 25px;
    }
    body{
        background-color: #232346;
        
    }
    .text{
        list-style-position: inside;
    }
    .headText{
        font-size: 3.5rem !important;
    }
    .pText{
        font-size: 1rem !important;
    }
    .list-text{
        font-size: 1rem !important;
    }
    .container-success{
        max-width: 500px;
        max-height: 500px;
        border-radius: 40px !important;
    }
    
}
