* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.headText {
    font-size: 2.5rem;
    font-weight: bold;
}
.list-text {
    list-style-image: url("./../assets/images/icon-list.svg");
}
.lemail {
    font-weight: bold;
}

.c2{
    height: 400px;
}
.correo {
    border-radius: 8px;
    height: 4rem;
}
.correo-success{
    background-color: aliceblue;
}
.labelEmail{
    justify-content: space-between;
}
.error{
    font-size: .9rem;
    display: none;
}
.error-active{
    color: #bb2929;
    display: block;
}
.input-error{
    background-color: #bb2929;
    color: #ff0000;
    opacity: 40%;
}

.boton {
    background-color: rgb(15, 15, 66);
    color: white;
    border-radius: 10px;
    height: 4rem;
}
.hSuccess {
 font-size: 3rem;
 font-weight: bold;
}
.bSuccess {
    background-color: rgb(15, 15, 66);
    border-radius: 10px;
    height: 4rem;

}
@media (min-width:769px) {
    .container-fluid{
        max-width: 900px !important;
        max-height: 600px !important;
        border-radius: 25px;
    }
    body{
        background-color: #232346;
        
    }
    .text{
        list-style-position: inside;
    }
    .headText{
        font-size: 3.5rem !important;
    }
    .pText{
        font-size: 1rem !important;
    }
    .list-text{
        font-size: 1rem !important;
    }
    .container-success{
        max-width: 500px !important;
        max-height: 350px !important;
        border-radius: 25px !important;
    }
    .modal{
        border-radius: 50px !important;
    }
}
